@import 'tailwindcss' ;

html, body {
  margin: 0;
  padding: 0;
  background-color: #001427;
}

.navBleu {
  color: #5B8CFF ;
}
.navGreen {
  color: #00D0A6 ; 
}
.ibm-thai-looped-font {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif ;
}

.jaro-font {
  font-family: 'Jaro', sans-serif ;
}

.navBg {
  background-color: #0A1A35 ;
}
.navHr {
  border-color: #005F73 ;
}

.homeMainH1{
  font-family: 'Poppins', sans-serif ;
  color : #598AFF ;
}
.homeMainH2{
  font-family: 'Poppins', sans-serif ;
  color : #0097F5 ;
}
.vertical-line {
  border-left: 2px solid white ;
  height: 100px ;
}